* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header, .wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.image-wrap, .about-me{
    width: 30%;
    color: #fff;
    background-color: #028E9B;
}
.image-wrap {
    position: relative;
}
.avatar {
    position: relative;
    z-index: 100;
}
.avatar img {
    display: block;
    margin: 80px auto 40px;
    width: 207px;
    border-radius: 109px;
}
.image-wrap div:not(:first-child) {
    background-color: #fff;
}
.icons {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 125px;
    position: absolute;
    top: 20px;
    left: 4px;
    z-index: 0;
    opacity: .8;
}
.icons img{
    position: absolute;
    width: 18%;
}
.html {
    bottom: 20px;
    left: 40px;
}
img.css {
    top: 10px;
    left: 12px;
    width: 30%;
}
.react {
    top: 40px;
    left: 10px;
}
