* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: center;
}
.about-me{
    width: 20%;
    color: #fff;
    background-color: #028E9B;
}