* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header, .wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.image-wrap, .about-me{
    width: 30%;
    color: #fff;
    background-color: #028E9B;
}
.image-wrap {
    position: relative;
}
.avatar {
    position: relative;
    z-index: 100;
}
.avatar img {
    display: block;
    margin: 80px 123px 40px;
    width: 207px;
    border-radius: 109px;
}
/* .image-wrap div:not(:first-child) {
    background-color: #fff;
} */
.icons {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 125px;
    position: absolute;
    top: 20px;
    left: 4px;


}
.icons img{
    position: absolute;
    width: 18%;
}
.html {
    bottom: -11px;
    left: 77px;
}
img.css {
    top: 162px;
    left: 24px;
}
img.react {
    top: 37px;
    left: 33px;
}
img.git {
    top: 100px;
    left: 18px;
}
.js {
    top: 2px;
    left: 92px;
}
